@model IEnumerable<DoctorAppointment.ViewModel.AppointmentViewModel>
@{
    ViewData["Title"] = "BookAppointment";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<div class="col-md-7 col-lg-8 col-xl-9">
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a>Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Book Appointment</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">Book Appointment</h2>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="card">
        <div class="card-body pt-0">
            <div class="tab-content pt-0">
                <div class="tab-pane fade show active">
                    <div class="card card-table mb-0">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Doctor</th>
                                            <th>Appt Date</th>
                                            <th>Booking Date</th>
                                            <th>Amount</th>

                                            <th>Status</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a class="avatar avatar-sm mr-2">
                                                            <img class="avatar-img rounded-circle" src="~/DoctorImage/@item.Image" alt="User Image">
                                                        </a>
                                                        <a>@item.Name <span>@item.Special</span></a>
                                                    </h2>
                                                </td>
                                                <td>@item.Time <span class="d-block text-info">@item.BookingDate</span></td>
                                                <td>@item.AppointmentDate.ToString("M/d/yyyy")</td>
                                                <td>$@item.Amount.ToString("0")</td>

                                                <td>
                                                    @if (item.Status == "Confirm")
                                                    {
                                                        <span class="badge badge-pill bg-success-light">@item.Status</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-pill bg-danger-light">@item.Status</span>
                                                    }

                                                </td>
                                                <td>
                                                    <a href="javascript:void(0)" onclick="Delete('@item.id')" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>

                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
       
        function Delete(id) {
            swal({
                title: "Are you sure?",
                text: "You want to update status.",
                type: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/Home/UpdateStatus",
                            type: "POST",
                            data: {
                                id: id
                            },
                            dataType: "json",
                            success: function () {
                                swal("Done!", "It was succesfully Update!", "success");
                                setTimeout(function () {
                                    window.location.href = '../Home/BookAppointment';
                                }, 2000);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                swal("Error deleting!", "Please try again", "error");
                            }
                        });
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
        }
    </script>
}