@model DoctorAppointment.ViewModel.SummeryviewModel
@using Microsoft.AspNetCore.Identity
@using DoctorAppointment.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div class="card">
                    <div class="card-body">

                        <!-- Checkout Form -->
                        <form asp-action="checkout" method="post">
                            <input type="hidden" name="SelectTime" value="@Model.SelectTime" />
                            <input type="hidden" name="Fee" value="@Model.TotalFee" />
                            <input type="hidden" name="Docid" value="@Model.Docid" />
                            <input type="hidden" name="Day" value="@Model.Day" />
                            <input type="hidden" name="ServiceList" value="@Model.ServiceList" />
                            <!-- Personal Information -->
                            <div class="info-widget">
                                <h4 class="card-title">Personal Information</h4>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>First Name</label>
                                            <input class="form-control" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Last Name</label>
                                            <input class="form-control" type="text" required>
                                        </div>
                                    </div>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group card-label">
                                                <label>Email</label>
                                                <input class="form-control" type="email" value="@UserManager.GetUserName(User)" readonly>
                                            </div>
                                        </div>
                                    }

                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group card-label">
                                            <label>Phone</label>
                                            <input class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Personal Information -->

                            <div class="payment-widget">
                                <h4 class="card-title">Payment Method</h4>

                                <!-- Credit Card Payment -->
                                <div class="payment-list">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group card-label">
                                                <label for="card_name">Name on Card</label>
                                                <input class="form-control" id="card_name" type="text" name="CardHolderName" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group card-label">
                                                <label for="card_number">Card Number</label>
                                                <input class="form-control" id="card_number" placeholder="1234  5678  9876  5432" type="text" name="CardNumber" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group card-label">
                                                <label for="expiry_month">Expiry Month</label>
                                                <input class="form-control" id="expiry_month" placeholder="MM" type="date" name="CardExpiryDate" required>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group card-label">
                                                <label for="cvv">CVV</label>
                                                <input class="form-control" id="cvv" type="number" name="CardCVV" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="submit-section mt-4">
                                    <button type="submit" class="btn btn-primary submit-btn">Confirm and Pay</button>
                                </div>


                            </div>
                        </form>


                    </div>
                </div>

            </div>

            <div class="col-md-5 col-lg-4 theiaStickySidebar">

                <!-- Booking Summary -->
                <div class="card booking-card">
                    <div class="card-header">
                        <h4 class="card-title">Booking Summary</h4>
                    </div>
                    <div class="card-body">

                        <!-- Booking Doctor Info -->
                        <div class="booking-doc-info">
                            <a class="booking-doc-img">
                                <img src="~/DoctorImage/@Model.Image" alt="User Image">
                            </a>
                            <div class="booking-info">
                                <h4><a>@Model.Name</a></h4>

                                <div class="clinic-details">
                                    <p class="doc-location"><i class="fas fa-map-marker-alt"></i> @Model.State, @Model.Country</p>
                                </div>
                            </div>
                        </div>
                        <!-- Booking Doctor Info -->

                        <div class="booking-summary">
                            <div class="booking-item-wrap">
                                <ul class="booking-date">
                                    <li>Date <span>@Model.Date.ToString("M/d/yyyy")</span></li>
                                    <li>Time <span>@Model.SelectTime</span></li>
                                </ul>
                                <ul class="booking-fee">
                                    <li>Consulting Fee <span>$@Model.Fee.ToString("0")</span></li>

                                </ul>
            
                                <ul class="booking-fee">
                                    <li>Service Fee <span>$@ViewBag.TotalPrice.ToString("0")</span></li>

                                </ul>
                                <div class="booking-total">
                                    <ul class="booking-total-list">
                                        <li>
                                            <span>Total</span>
                                            <span class="total-cost">$@Model.TotalFee.ToString("0") </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>

